<% include header.ejs %>

<form action="/login" method="post" style="width:50%;margin-left:25%;margin-top:10%" class="white">
	<div>
	<i class="material-icons prefix">account_circle</i>
	<label>Username:</label>
	<input type="text" name="username"/><br/>
	</div>
	<div>
	<label>Password:</label>
	<input type="password" name="password"/>
	</div>
	<div>
	<input type="submit" value="Submit"/>
	</div>
</form>
